// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2016 Andreas Färber
 * Copyright (c) 2016 BayLibre, Inc.
 * Author: Kevin Hilman <khilman@kernel.org>
 */

/dts-v1/;

#include "meson-gxbb-p201.dts"
/ {
	compatible = "amlogic,p201,Q5", "amlogic,meson-gxbb-Q5","amlogic,meson-gxbb";
	model = "Moblie Box(JiangSu)-Q5";


	aliases {
		wlan0 = &rtl8189etv;
	};

};
/* Wireless SDIO Module */
&sd_emmc_a {
	rtl8189etv: sdio_wifi@1 {
		reg = <1>;
		compatible = "realtek,rtl8189es";
	};
};
